!!!html
%html
  %head
    %title= @title
    %script(src="/javascripts/jquery-1.8.2.min.js")
    %script(src='/javascripts/application.js')

    %script{ :src => cometio_js }
    :javascript
      var io = new CometIO().connect();
      io.on("update", function(hash) {
        window.location.reload();
      });
    - if @attempts
      %script
        != "var attempts_json = #{@attempts.to_json.inspect};"
    - if @all_initials
      %script
        != "var all_initials_json = #{@all_initials.to_json.inspect};"
    - if @all_task_ids
      %script
        != "var all_task_ids_json = #{@all_task_ids.to_json.inspect};"

    %link(href='/stylesheets/application.css' rel='stylesheet' type='text/css')

  %body
    - if @current_user
      %form(method='post' action='/logout')
        You are logged in as
        = @current_user.first_name
        = @current_user.last_name
        %button Logout
      %hr

    #attempt-dropdown
      .attempt.unstarted(data-status='unstarted')
      .attempt.incomplete(data-status='incomplete')
      .attempt.complete(data-status='complete')
      %br(clear='left')

    != yield
