!!!html
%html
  %head
    %title= @title_text
    %script(src="/javascripts/jquery-1.8.2.min.js")
    %script(src='/javascripts/application.js')

    :javascript
      var _prum = [['id', '516c9597abe53d7858000000'],
                   ['mark', 'firstbyte', (new Date()).getTime()]];
      (function() {
          var s = document.getElementsByTagName('script')[0]
            , p = document.createElement('script');
          p.async = 'async';
          p.src = '//rum-static.pingdom.net/prum.min.js';
          s.parentNode.insertBefore(p, s);
      })();

    %script{ :src => cometio_js }
    - if @attempts
      %script
        != "var attempts_json = #{@attempts.to_json.inspect};"
    - if @all_initials
      %script
        != "var all_initials_json = #{@all_initials.to_json.inspect};"
    - if @all_task_ids
      %script
        != "var all_task_ids_json = #{@all_task_ids.to_json.inspect};"

    %link(href='/stylesheets/application.css' rel='stylesheet' type='text/css')

  %body
    - if @current_user
      %div(style='float:right')
        %form(method='post' action='/logout' style='display:inline-block')
          %button Logout
          - if @outline
            %a{:href => "/#{@outline.month}/#{@outline.day}/edit"} Edit
        %form(method='get' action='/search' style='display:inline-block')
          %input(type='text' name='query' placeholder='Search')

      .indented
        Links:
        %a(href='https://drive.google.com/folderview?id=0B1n7WeUjpxvRS0VIOEhXdkQ0SmM#list' target='google-drive') Documents
        %a(href='http://www.danielstutzman.com/davinci_gallery/2013-q1.html' target='gallery') Gallery
        %a(href='https://github.com/davincicoders/2013-q2-rails-1' target='github') GitHub
        %a(href='https://groups.google.com/d/forum/davinci-coders-2013-q2-rails-1' target='group') Group
        %a(href='https://davincicoders.hipchat.com/home' target='hipchat') HipChat
        %a(href='http://davincicoders.com/schedule-upcoming-classes/') Schedule
        %a(href='/students') Students
        %a(href='https://docs.google.com/document/d/1_AmF2o4dtStbQlpAoJMl-TO8Acif0anCdsEL4D64bOc/edit' target='syllabus') Syllabus
        %a(href='https://www.dropbox.com/sh/opfsrrkn82twtvq/peZOnforPv?lst' target='dropbox') Videos
      %br(clear='both')
      %hr

    #attempt-dropdown
      %p.choose-status Update task status
      .attempt.unstarted(data-status='unstarted')
      .attempt.incomplete(data-status='incomplete')
      .attempt.question(data-status='question')
      .attempt.complete(data-status='complete')
      .attempt.locked(data-status='locked')
      %p.explanation here

    != yield
