%h1 DaVinci Coders 2013 Q2 Rails 1

%table.weeks
  - @weeks.each do |week|
    - outlines = @outlines.select { |outline| (week.begin_date..week.end_date).include?(outline.date) }
    - outlines.each_with_index do |outline, i|
      %tr{ class: (i == outlines.size - 1) ? 'last-day' : '' }
        - if i == 0
          %td(nowrap='nowrap'){ rowspan: outlines.size }
            .week-label= week.label
        %td= outline.date.strftime('%a')
        %td(nowrap='nowrap')
          = outline.date.strftime('%b')
          = outline.date.strftime('%d')
        %td
          - if outline.handout_url
            %a{ href: outline.handout_url }
              %img(src='/images/gray-document.png' width='16' height='16')
        %td
          %a{href: "/#{outline.month}/#{outline.day}"}
            != outline.first_line.split(':').last.gsub(/`([^`]*)`/, "<code>\\1</code>")
