%h1 Web Development with Ruby, Level 1, 2013 Q3

%table.weeks
  - @weeks.each do |week|
    - dateds = (@outlines + @events).select { |dated| (week.begin_date..week.end_date).include?(dated.date) }.sort_by { |dated| [dated.date, dated.respond_to?(:category) ? dated.category : 'later', dated.respond_to?(:hour) ? dated.hour : 0] }
    - if dateds.select { |dated| Outline == dated }.size == 0
      - dateds.push week
    - dateds.each_with_index do |dated, i|
      - classes = []
      - classes.push 'last-day' if (i == dateds.size - 1)
      - classes.push 'event' if Event === dated
      %tr{ class: classes.join(' ') }
        - if i == 0
          %td(nowrap='nowrap'){ rowspan: dateds.size }
            .week-label= week.label
            .week-label= week.summary
        %td= dated.date && dated.date.strftime('%a')
        %td(nowrap='nowrap')
          = dated.date && dated.date.strftime('%b')
          = dated.date && dated.date.strftime('%d')
        - if Outline === dated
          - outline = dated
          %td
            - if outline.handout_url
              %a{ href: outline.handout_url }
                %img(src='/images/gray-document.png' width='16' height='16')
          %td
            %a{href: "/#{outline.month}/#{outline.day}/#{outline.category}"}
              != outline.first_line.gsub(/^[^:]*: /, '').gsub(/`([^`]*)`/, "<code>\\1</code>")
        - elsif Event === dated
          - event = dated

          -# skip one column for the outline's image link
          %td

          - if event.more_info_url
            %td
              %a{ href: event.more_info_url }= event.details
          - else
            %td= event.details
        - elsif Week === dated
          -# skip one column for the outline's image link
          %td

          %td= dated.details

