!= erb :_margin_related_css
- @users.each_with_index do |user, i|
  .attempt.name-label{ :style => "left:#{8 + i * 28}px;top:0" }
    = user.first_name[0...4]
    = user.first_name[4..-1]
%h1!= @title_html
!= @content
